h1 Personal Summary
p I am a native Californian. I grew up in Southern California. After high school, I joined the Navy to see the world. I spent 4 years on a nuclear submarine crisscrossing the Pacific Ocean. On the submarine, I worked as a logistician and sonar operator.
= image_tag "sub.jpg", width: "100%" , class: 'pull-right'
p After the Navy, I attended the University of California, Berkeley. During college, I studied abroad twice. Once in Salamanca, Spain and once in Berlin. I also backpacked around the world.
= image_tag "berkeley.jpg", width: "100%" , class: 'pull-left' 
p In 2013, I graduated from Cal and moved to New York. Just in time to experience two Polar Vortexes in a row. In New York, I taught at an inner-city high school for less than a year, decided it was not my thing and learned how to code. My first substantial experience with coding had been with R doing statistics research at Berkeley. I have a background in formal logic and philosophy which really has helped me in coding. I received a fellowship from Microsoft and HirePourpose to attend General Assembly's Web Development Immersive in the summer of 2014.
= image_tag "nyc.jpg", width: "100%" , class: 'pull-left' 
p After General Assembly, I became the first developer at a small start-up in Dumbo called Tripwing. Tripwing was trying to sell custom software to travel agents and tour operators. I completed a bunch of projects in Angular.js and Ruby on Rails. Over a year and a half, I on-boarded three full-time developers and trained three times as many interns. Unfortunately, Tripwing was not able to ever become a viable business. Travel agents are a rapidly shrinking group, that is not particularly keen on adopting new technology, and other niches we explored had bigger and more established competitors. It is currently in the process of shutting down I am looking for something new at the moment.
p At the same time, I started at Tripwing, I began teaching a coding class a few times a week to High School students as a volunteer at ScriptEd. Although I did not enjoy teaching professionally, I really enjoy teaching kids to code. The kids in my class are really motivated, and love to learn. The first school year, I taught at a high school in East Harlem. This school year, I teach in high school in Downtown Brooklyn.
= image_tag "egypt.jpg", width: "100%" , class: 'pull-right'
p Traveling is a big passion of my life. I have been to 40 countries. My favorite places in the world are Rio de Janeiro, Paris, and Madrid. Nothing recharges my batteries like a week in an exotic locale.
= image_tag "rio.jpg", width: "100%" , class: 'pull-right'
p I am also a commercial pilot in my spare time. I have an arrhythmia that keeps me from doing it professionally. I learned to fly on a Cessna 172 and have flown Pipers and Beechcrafts.
= image_tag "flying.jpg", width: "100%" , class: 'pull-left'
p On a daily basis when I am not coding I am a bit of fitness nut. I usually get up a 5am to get to Equinox when it opens at 5:30. I usually try to finish as much of the New York Times crossword on the stair climber as I possibly can. I am "Wednesday good" at the crossword. It still takes me a bit of time, and a little cheating, to finish Sunday's crossword.
= image_tag "crossword.jpg", width: "100%" , class: 'pull-left'
p I am also an avid reader. I finished two volumes of Robert Caro's Lyndon Johnson in the last year. The Power Broker by Robert Caro is my favorite book. Close seconds include Meditations by Marcus Aurelius, Crime and Punishment by Dostoyevsky, The Talented Mr. Ripley by Patrica Highsmith, and Empire of the Sun and High Rise by JG Ballard.

  
